<a href="https://colab.research.google.com/github/spencer18001/Clustering-And-Dimensionality-Reduction---Deep-Dive/blob/main/0207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

Agenda:

- Creating a list
  
- Getting list elements
- Adding / modifying list elements
- Removing list elements
- Checking if list contains element
- Operations on lists
- List summarization functions
- Iterating through list

In [1]:
# Create a simple list
list1 = [1, 'apple', 2.4, 'apple',  True, [2]]
print(list1)
print(type(list1))

[1, 'apple', 2.4, 'apple', True, [2]]
<class 'list'>

In [2]:
# Create a simple list
list2 = list((1, 'apple', 2.4, True, [2])) # !!!!!
print(list2)
print(type(list2))

[1, 'apple', 2.4, True, [2]]
<class 'list'>

In [3]:
# List is ordered
print(list1[0])

1

In [4]:
# List is mutable
list1[0] = 'TOWER'
list1

['TOWER', 'apple', 2.4, 'apple', True, [2]]

#### Getting list elements

In [5]:
# Getting last element of a list
list1[-1]

[2]

In [6]:
# Slicing a list
list1[1:3]

['apple', 2.4]

In [7]:
# Getting non existant list element
list1[20]

IndexError: list index out of range

In [8]:
# !!!!!
# Find element index
list1.index('apple')

1

In [9]:
# List length
len(list1)

6

#### Adding / modifying list elements

In [10]:
list1

['TOWER', 'apple', 2.4, 'apple', True, [2]]

In [11]:
# Setting element by index
list1[3] = 'TOWER'
list1

['TOWER', 'apple', 2.4, 'TOWER', True, [2]]

In [12]:
list1[0:2] = [False, False]
list1

[False, False, 2.4, 'TOWER', True, [2]]

In [13]:
# Add element to the end of the list
list1.append("dragonfruit")
list1

[False, False, 2.4, 'TOWER', True, [2], 'dragonfruit']

In [14]:
# !!!!!
# Add element to the index position 1
list1.insert(1, "mango")
list1

[False, 'mango', False, 2.4, 'TOWER', True, [2], 'dragonfruit']

In [15]:
# Modify list elements
list1[-2].append('new!')
list1

[False, 'mango', False, 2.4, 'TOWER', True, [2, 'new!'], 'dragonfruit']

#### Removing list elements

In [16]:
# !!!!!
# Remove certain element
list1.remove("mango")
list1

[False, False, 2.4, 'TOWER', True, [2, 'new!'], 'dragonfruit']

In [17]:
# !!!!!
# Remove last element
pop_el = list1.pop()
print(list1)
print('Poped : {}'.format(pop_el))

[False, False, 2.4, 'TOWER', True, [2, 'new!']]
Poped : dragonfruit

In [18]:
# !!!!!
# Pop element with index 2
pop_el = list1.pop(2)
print(list1)
print('Poped el {}'.format(pop_el))

[False, False, 'TOWER', True, [2, 'new!']]
Poped el 2.4

In [19]:
# Attempt removing non-existant element
list1.remove("mango")
list1

ValueError: list.remove(x): x not in list

In [20]:
# !!!!!
del list1[1]
list1

[False, 'TOWER', True, [2, 'new!']]

#### Checking if list contains element

In [21]:
# !!!!!
# Checking if element is in the list
if "car" in list1:
    print("Car is in the list.")

#### Operations on lists

In [22]:
# Concatenating lists
l1 = [1,2,'a']
l2 = [True, False]

l3 = l1 + l2
l3

[1, 2, 'a', True, False]

In [23]:
# "Repeating lists"
l1 = [1,2,'a']
l1*3

[1, 2, 'a', 1, 2, 'a', 1, 2, 'a']

In [24]:
# Comparing lists
l1 = [1,2,3]
l2 = [1,2,3]

l1 == l2

True

In [25]:
# Comparing lists
l1 = [1,2,3]
l2 = [1,3,2]

l1 == l2

False

##### List summarization functions

In [26]:
# !!!!!
# Specialized operations for numbers
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print('Sum : {}'.format(sum(numbers)))
print('Maximum : {}'.format(max(numbers)))
print('Minimum : {}'.format(min(numbers)))

Sum : 45
Maximum : 9
Minimum : 0

In [27]:
# !!!!!
# Specialied operations for boolean lists
bool_list = [True, True, False]

print('All operator : {}'.format(all(bool_list)))
print('Any operator : {}'.format(any(bool_list)))

All operator : False
Any operator : True

##### Iterating through list

In [28]:
# Simple iteration
list2 = ['bird', True, 4, 5, 'submarine']

# !!!!!
for el in list2:
    print(el)

bird
True
4
5
submarine

In [29]:
# Creating new list based on existing list and if statement
str_list = []

for el in list2:
    if isinstance(el, str): # !!!!!
        str_list.append(el)
str_list

['bird', 'submarine']

In [30]:
# Iterating through two lists at the same time
l1 = [1,2,3]
l2 = ['a', 'b', 'c']

for el1, el2 in zip(l1,l2): # !!!!!
    print(el1)
    print(el2)
    print('---------')

1
a
---------
2
b
---------
3
c
---------

In [31]:
# List enumeration
l1 = ['house', 'frog', 'rabbit']

for list_i, el in enumerate(l1): # !!!!!
    print(list_i)
    print(el)
    print('---------')

0
house
---------
1
frog
---------
2
rabbit
---------

In [32]:
rng = range(10)
rng

range(0, 10)

In [33]:
# Iterating with range

l1 = ['house', 'frog', 'rabbit']

for i in range(len(l1)):
    print(i)
    print(l1[i])
    print('---------')

0
house
---------
1
frog
---------
2
rabbit
---------

### Summary:

We have learned about:

- Creating a list
  
- Getting list elements
- Adding / modifying list elements
- Removing list elements
- Checking if list contains element
- Operations on lists
- List summarization functions
- Iterating through list