<a href="https://colab.research.google.com/github/spencer18001/Clustering-And-Dimensionality-Reduction---Deep-Dive/blob/main/0213.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Unpacking iterable data types

### Lecture agenda

- Basic unpacking
- Unpacking with *
- Unpacking with **

### Definitions

- Unpacking is a way to assign values from a list (or other iterable) to multiple variables at once. It's called "unpacking" because you can think of the list as a packed suitcase, and you're taking out (or "unpacking") the items and assigning them to variables.

#### Basic unpacking

In [1]:
# Unpack list
l1 = [1, 2, 3]

a, b, c = l1

print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : 1
b : 2
c : 3

In [2]:
# Unpack tuple
t1 = (4, 5, 6)
a, b, c = t1
print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : 4
b : 5
c : 6

In [3]:
# Unpack set
s1 = {9, 7, 8}
a, b, c = s1 # !!!!!
print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : 8
b : 9
c : 7

In [4]:
# Cant unpack dict the same way
d1 = {'k1': 1, 'k2': 2, 'k3': 3}
a, b, c = d1 # !!!!!
print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : k1
b : k2
c : k3

In [5]:
# Unpack list
l1 = [1, 2, 3, 4]

a, b, c = l1

print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

ValueError: too many values to unpack (expected 3)

##### Single star operator

In [6]:
# Using star to pick up remaining elements
l1 = [1, 2, 3, 4, 5, 6, 7]

a, b, *c = l1

print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : 1
b : 2
c : [3, 4, 5, 6, 7]

In [7]:
# Using star to pick up middle elements
l1 = [1, 2, 3, 4, 5, 6, 7]

a, *b, c = l1 # !!!!!

print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

a : 1
b : [2, 3, 4, 5, 6]
c : 7

In [11]:
l1 = [1, 2, 3, 4, 5, 6, 7]

a, *_, b = l1 # !!!!!

print('a : {}'.format(a))
print('b : {}'.format(b))

a : 1
b : 7

In [8]:
# Two stars cant be used
l1 = [1, 2, 3, 4, 5, 6, 7]

a, *b, *c = l1

print('a : {}'.format(a))
print('b : {}'.format(b))
print('c : {}'.format(c))

SyntaxError: multiple starred expressions in assignment (<ipython-input-8-b906350c1efc>, line 4)

In [12]:
# Unpacking lists on the righthand side
l2 = ['blue', 'orange']
l3 = [*l1, *l2] # !!!!!
l3

[1, 2, 3, 4, 5, 6, 7, 'blue', 'orange']

##### Double star operator

In [13]:
# Unpacking dicts with double star

d1 = {
    'a': 1,
    'x': 2,
}
d2 = {
    'b': 4,
    'c': 10
}

d3 = {**d1, **d2} # !!!!!
d3

{'a': 1, 'x': 2, 'b': 4, 'c': 10}

In [14]:
# Unpacking dicts with double star

d1 = {
    'a': 1,
    'b': 2,
}
d2 = {
    'b': 4,
    'c': 10
}

d3 = {**d1, **d2}
d3

{'a': 1, 'b': 4, 'c': 10}

<br/><br/><br/>

### Summary

- Iterable datatypes

- Basic unpacking
  
- Unpacking with *

- Unpacking with **