<a href="https://colab.research.google.com/github/spencer18001/Clustering-And-Dimensionality-Reduction---Deep-Dive/blob/main/0220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Comprehensions

Comprehensions in Python are a way of creating new sequences like lists or dictionaries from existing ones in a concise and efficient manner.

#### Lecture contents

- Problem statement
- List comprehensions
- Dictionary comprehension

#### Problem statement

Compute the square of each element in the list.

In [1]:
l1 = [1, 2, 3, 4, 5]

In [2]:
square_list = []
for el in l1:
    square_list.append(el**2)
square_list

[1, 4, 9, 16, 25]

Square all elements in the list that are not equal to 3.

In [3]:
square_list = []
for el in l1:
    if el != 3:
        square_list.append(el**2)
square_list

[1, 4, 16, 25]

##### List comprehension

In [4]:
l1 = [1, 2, 3, 4, 5]

l2 = [el**2 for el in l1]
l2

[1, 4, 9, 16, 25]

In [5]:
l3 = [el**2 for el in l1 if el != 3] # filter # !!!!!
l3

[1, 4, 16, 25]

In [7]:
l4 = [el**2 if el != 3 else el**3 for el in l1] # ternary operator # !!!!!
l4

[1, 4, 27, 16, 25]

In [8]:
l5 = [el**2 if el != 3 else el**3 for el in l1 if el != 4] # !!!!!
l5

[1, 4, 27, 25]

In [9]:
d1 = {
    'a': 1,
    'b': 2,
    'c': 3
}

l6 = [el for el in d1] # !!!!!
l6

['a', 'b', 'c']

In [10]:
l6 = [d1[el] for el in d1]
l6

[1, 2, 3]

##### Dict comprehension

In [11]:
words = ['apple', 'banana', 'cherry', 'date']
word_lengths = {word: len(word) for word in words} # !!!!!
word_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

In [12]:
words = ['apple', 'banana', 3, 4, 'cherry', 'date']
word_lengths = {word: len(word) for word in words if isinstance(word, str)}
word_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

In [13]:
words = ['apple', 'banana', 3, 4, 'cherry', 'date']
word_lengths = {word: len(word) if isinstance(word, str) else None for word in words } # !!!!!
word_lengths

{'apple': 5, 'banana': 6, 3: None, 4: None, 'cherry': 6, 'date': 4}

In [14]:
d1 = {
    'a': 1,
    'b': 2,
    'c': 3
}

d2 = {key: d1[key]**2 for key in d1}
d2

{'a': 1, 'b': 4, 'c': 9}

In [15]:
d2 = {key: value**2 for key, value in d1.items()} # !!!!!
d2

{'a': 1, 'b': 4, 'c': 9}

</br></br></br></br>

### Summary

#### We have learned:

- What are comprehensions

- List comprehensions

- Dict comprehensions