## Usefull functionalities

### Lecture agenda

- Head and tail
- Handling missing values
- Handling duplicates
- Droping rows/columns
- Sorting
- Renaming rows/columns
- Mapping

In [ ]:
import pandas as pd
import numpy as np

#### Head and tail

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 7, 8, 9, 10],
    'C': ['a', 'b', 'c', 'd', 'e'],
    'D': [100, 200, 300, 400, 500]
})

df

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

#### Missing values in dataframes

In [ ]:
# None can represent missing value
var = None

# Can be detected with ==
print(var == None)

# Can be detected with is None
print(var is None)

In [ ]:
# np.nan is also used to represent missing values
var = np.nan

print(var==np.nan)
print(var is np.nan)
print(np.isnan(var))

#### Handling missing values

In [ ]:
# Create a DataFrame with missing values
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 7, 8, 9, 10],
    'C': [np.nan, 12, None, 14, 15]
})

df

In [ ]:
# Check for missing values
df.isna()

In [ ]:
# Count number of missing values in columns
df.isna().sum(axis=0)

In [ ]:
# Remove rows containing missing values
df.dropna(axis=0)

In [ ]:
# Remove rows containing missing values
df.dropna(ignore_index=True)

In [ ]:
# Remove only rows where certain columns
# have missing values
df = pd.DataFrame({
    'A': [1, 2, 3, 4, np.nan],
    'B': [np.nan, 7, 8, 9, 10],
    'C': [11, 12, np.nan, 14, 15]
})

print('Original : ')
display(df)

print('After dropna : ')
df = df.dropna(subset=['A', 'B'])
df

In [ ]:
# Remove cols containing missing values
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 7, 8, 9, 10],
    'C': [11, 12, np.nan, 14, 15],
    'D': [100, 200, 300, 400, 500]
})

print('Original : ')
display(df)

print('After dropna : ')
df = df.dropna(axis=1)
df

#### Handling duplicate values

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eva', 'Frank', 'Grace', 'Alice'],
    'Age': [20, 19, 21, 20, 22, 21, 19, 20],
    'Subject': ['Math', 'Physics', 'Chemistry', 'Math', 'Physics', 'Chemistry', 'Math', 'Physics']
}

df = pd.DataFrame(data)
df

In [ ]:
df.duplicated()

In [ ]:
df.duplicated(keep=False)

In [ ]:
df

In [ ]:
df.duplicated(subset=['Name'])

In [ ]:
df.drop_duplicates()

In [ ]:
df.drop_duplicates(keep=False)

In [ ]:
df.drop_duplicates(subset=['Name'])

In [ ]:
# Drop and reset index
df.drop_duplicates(ignore_index=True)

#### Drop columns / rows

In [ ]:
data = {
    'P': [1, 2, 3, 4, 5],
    'b': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, 2.2, 3.3, 4.4, 5.5],
    'D': [10, 20, 30, 40, 50],
    'E': ['x', 'y', 'z', 'xx', 'yy'],
}

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

df

In [ ]:
# Drop columns by name
df = df.drop(columns=['P'])
df

In [ ]:
# Drop rows by name
df = df.drop(index=[2])
df

In [ ]:
# Select columns to keep
df = df.filter(['b', 'C'], axis=1)
df

In [ ]:
# Select rows to keep
df = df.filter([0, 3], axis=0)
df

#### Sorting

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Harry'],
    'Age': [22, 19, 21, 20, 22, 21, 19, 20],
    'Grade': [85, 95, 77, 88, 92, 76, 99, 89],
    'Subject': ['Math', 'Physics', 'Chemistry', 'Math', 'Physics', 'Chemistry', 'Math', 'Physics']
}

df = pd.DataFrame(data)
df

In [ ]:
# Sort by index
df.sort_index()

In [ ]:
# Reverse order
df.sort_index(ascending=False)

In [ ]:
# Sort by valus
df.sort_values(by='Age')

In [ ]:
# Sort by value
df.sort_values(by='Age', ignore_index=True)

In [ ]:
# Sort by value descending
df.sort_values(by='Age', ascending=False)

In [ ]:
df.sort_values(by=['Age', 'Grade'])

#### Rename columns / rows

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 7, 8, 9, 10],
    'C': ['a', 'b', 'c', 'd', 'e'],
    'D': [100, 200, 300, 400, 500]
})

df

In [ ]:
# Rename columns
df = df.rename(mapper={'A': 'P', 'B':'b'}, axis=1)
df

In [ ]:
# Rename rows
df = df.rename(mapper={0: 'zero', 1: 'one'}, axis=0)
df

#### Mapping

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Harry'],
    'Age': [22, 19, 21, 20, 22, 21, 19, 20],
    'Grade': [20, 95, 77, 88, 30, 76, 99, 89],
    'Subject': ['Math', 'Physics', 'Chemistry', 'Math', 'Physics', 'Chemistry', 'Math', 'Physics']
}

df = pd.DataFrame(data)
df

In [ ]:
map_dict = {
    'Math' : 'M102',
    'Physics': 'P102',
    'Chemistry': 'C102'
}

In [ ]:
df['Subject'] = df['Subject'].map(map_dict)
df

In [ ]:
def check_grade(grade):
    
    if grade > 50:
        
        return 'passed'
    
    else:
        
        return 'failed'

In [ ]:
df['Status_1'] = df['Grade'].map(check_grade)
df

In [ ]:
df['Status'] = df['Grade'].map(lambda x: 'passed' if x > 50 else 'failed')
df